Flask
Jinja2
MarkupSafe
Werkzeug
argparse
itsdangerous
opencv-python
pandas
sklearn
scikit-image
h5py
pybind11>=2.0
configparser
sqlalchemy
requests
numpy
nmslib
pymysql
imutils
tensorflow==1.15.0
dlib
imageio
gunicorn