Flask==1.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
argparse==1.2.1
itsdangerous==0.24
opencv-python
pandas
sklearn
scikit-image
h5py
pybind11>=2.0
configparser
sqlalchemy
requests
numpy
nmslib
pymysql
imutils
tensorflow-gpu==1.13.1
dlib
imageio