<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stylegan_interpolation</title>
    <link rel="stylesheet" href="/static/css/stylegan_interpolation.css">
    <link rel="stylesheet" href="/static/css/spin.css">
    <script src="/static/js/jquery.js"></script>
    <script type="module" src="/static/js/stylegan_interpolation.js"></script>
    <meta name="referrer" content="no-referrer"/>
    <link href="favicon.ico" rel="shortcut icon">
</head>
<body>
<div class="box">
    <div class="box-left">
        <div class="face-top">
            <p>
                <br><br><br><br><br><br><br><br><br><br><br><br><br>点击一张示例图片，或者通过文件、URL上传来查看效果<br><br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
        </div>
        <div class="face-swiper">
            <button class="pre"><span><</span></button>
            <div class="swiper-container">
                <ul>
                    <li>
                        <img src="static/static_img/glowi1.jpg">
                        <div class="cover active">
                        </div>
                    </li>
                    <li>
                        <div class="cover">
                        </div>
                        <img src="static/static_img/glowi2.jpg" >
                    </li>
                    <li>
                        <div class="cover">
                        </div>
                        <img src="static/static_img/glowi3.png" >
                    </li>
                    <li>
                        <div class="cover">
                        </div>
                        <img src="static/static_img/glowi4.png" >
                    </li>
                    <li>
                        <div class="cover">
                        </div>
                        <img src="static/static_img/glowi5.jpg" >
                    </li>
                </ul>
            </div>
            <button class="next"><span>></span></button>
        </div>
        <div class="face-bottom">
            <div class="fileUpload">
                <i class="icon-upload"></i>
                <span>本地上传</span>
                <input type="file" accept="image/png,image/jpeg" id="file">
            </div>
            <div class="camera">
                <i class="usecamera"></i>
                <span>摄像头</span>
                <input type="button" id="camera_button">
            </div>
            <div class="urlSearch">
                <input type="text" class="imgUrl" placeholder="图片url">
                <div class="searchImg">
                    <button class="submit">检测</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-right">
        <div class="tab-bar">
            <div class="result">
                <span>分析结果</span>
            </div>
            <div class="response">
                <span>Response JSON</span>
            </div>
        </div>
        <div class="tab-content">
            <div class="result-content">
                <div class="demo-swiper">
                    <button class="demo-pre"><span><</span></button>
                    <div class="demo-container">
                        <ul>
                        </ul>
                    </div>
                    <button class="demo-next"><span>></span></button>
                </div>
                <div class="hr"></div>
                <div class="result-infor">
                    <div class="infor_message"></div>
                    <div class="infor">
                        <div class="kpt">
                            <div class="kpts"></div>
                            <div class="kptvalue"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="response-content">
                <p>
                <div class="faceapi"></div>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>